@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;

	font-family: "Trajan Pro";    
	src: url('fonts/TrajanPro-Bold.eot'),
	url('fonts/Trajan Pro.ttf') format('truetype');


}

@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Average+Sans|Open+Sans+Condensed:300';

$trajan	 	: 'Trajan Pro';
$Open-Sans	: 'Open Sans Condensed', sans-serif;
$Alegreya	: 'Alegreya Sans SC', sans-serif;
$Average	: 'Average Sans', sans-serif;