footer{
	background: $colormain;
	margin-bottom: 0;
    position: absolute;
    width: 100%;
    padding: 2em 0;
}

.l-footer{
	width: 1180px;
	margin: 0 auto;
	@media (max-width: 1100px){
		width: 100%;
		#activities{
			display: none;
		}
	}
	@media(max-width: 990px){
		#accommodation{
			display: none;
		}
	}
	li{
		font-size: 1.1em;
		margin-bottom: .71em;
		
		color: $white;
		list-style: none;
		a{
			color:inherit;
			:hover{
				opacity: 0.9;
			}
		}
	}
	h3{
		color: #cecbcb;
	    text-align: center;
	    font-size: 1.5em;
	    font-family: arial;
	    border-bottom: 0.2px solid #395f77;
	}
} 