li{
	font-size: 1.2em; 
}
iframe.google-map {
    max-width: 100%;
    max-height: 500px;
    height: 500px;
}

.img-full{
	img{
	width: 100%;
	}
}

label {
    color: #5a5c2e;
    font-size: 1.5em;
    font-weight: normal;
}
.confirm {
   	width: 80%;
    margin: 0 auto;
    background: #f1f1e1;
    padding: 0em 7em;

   p{
   	text-align: center;
   	font-size: 2em;
   }
   .title{
   	text-align: center;
   }
    
  }
