body {
  color: #5a5a5a;
  font-size: 1.2em;
}

h1{
  font-family: $trajan;
  color:$link-color;

}
h2{
  font-family: trajan;
  color: $link-color;
  font-size: 1.5em;
}
h3{
 font-family: trajan;
 color: $link-color; 
}
p{
  font-size: 1.5em;
}
.subtitle{
  font-size: 1.7em;
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
  .navbar-wrapper {
    // margin-top: 20px;
    background: $colormain;
  
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
.logo{
  img{
    width: 290px;
    padding: 1em;
    margin-left: 40%;
    @media (max-width: $screen-xs-min) {
      margin-left: 19%;
    }
    @media (max-width: $screen-md-min) {
          margin-left: 24%;
          width: 190px;
    }
    @media (min-width: $screen-lg-min) {
      margin-left: 40%;
    }

  }
}
.row{
    margin-left: 0!important;
    margin-right: 0!important;
}