.carousel {
  margin-top: 7em;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  
 @media (min-width: $screen-sm-min) {
    height: 150px;
  }
  @media (min-width: $screen-md-min) {
      height: 350px;
  }
  @media (min-width: $screen-lg-min) {
     height: 450px;
  }
}
.carousel-inner{
  
   @media screen and (min-width: 1800px) {
    height: 585px; 
  }
    @media screen and (max-width: 900px) {
    height: auto;  
  }
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

.vallarta-gardens .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.vallarta-gardens h2 {
  font-weight: normal;
}
.vallarta-gardens .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.featurette-divider {
  margin: 40px 0; 
}
.featurette-divider2 {
  margin: 20px 0; 
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  font-family: $trajan;
  font-size: 200%!important; 
  color:$link-color;
}

.intro{
  margin-top: 50px;
  font-size: 140%;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: $link-color;
}
.details-accommodations{
  p{
    font-size: 1.2em;
  }
}
.booknow { 
  
    li{
      display: inline-block;
    }
 
}
.floor-plan{
  h2{
    text-align: center;
     margin-top: 6em;
  }
}
.ammenities{
  background: #f1f1f1;
  padding: 2em 1em;
  p{
    font-size: 1.2em;
  }
}
.details{
  li{
    font-size: 1.2em;
  }
}
.gallery{
  margin: 0 2em;
  a{
    i{
          text-align: center;
          width: 63px;
          font-size: 2.5em;
    }
  }
}
.overflow {
    background-color: #fff;
     height: 150px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll;
}
