.carousel {
  margin-top: 7em;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  
 @media (min-width: $screen-sm-min) {
    height: 150px;
  }
  @media (min-width: $screen-md-min) {
      height: 350px;
  }
  @media (min-width: $screen-lg-min) {
     height: 450px;
  }
}
.carousel-inner{
  
   @media screen and (min-width: 1800px) {
    height: 585px; 
  }
    @media screen and (max-width: 900px) {
    height: auto;  
  }
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

.vallarta-gardens .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.vallarta-gardens h2 {
  font-weight: normal;
}
.vallarta-gardens .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.featurette-divider {
  margin: 40px 0; 
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  font-family: $trajan;
  font-size: 200%!important; 
  color:$link-color;
}

.intro{
  margin-top: 50px;
  font-size: 140%;
}
.group-3 {
    img{
      max-width: 100%;
    }
  @media (min-width: 600px) {
      img{ 
          max-width: 32.52%;
          margin: 0.2em;
     }
  }
}

.group-4 {
    img{
      max-width: 100%;
    }
  @media (min-width: 600px) {
      img{ 
          max-width: 23.52%;
          margin: 0.2em;
     }
  }
}
.overflow {
    background-color: #fff;
     height: 550px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll;
}
.icon-comments{font-size: 2.5em;}

.title{
  text-align: center;
  padding: 1em;
}
.luxury-events{
  p{
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
}